<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="/auth/logout">Logout</a>
    <title>URL Shortener</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <!-- <%=urls%> -->
    <form action="/api/shorten" method="post">
        <input type="text" name="originalUrl" placeholder="Enter URL to shorten" required>
        <button type="submit">Shorten URL</button>
    </form>
    <h1>Shorten URLs</h1>
    <ol>
        <% urls.forEach(url=>{%>

            <li>
                <a href="/api/<%=url.shortCode%>" target="_blank">
                    http://localhost:3000/api/<%= url.shortCode %>
                </a>
                ⇾ <%= url.originalUrl %> ⇾ visited Count <%= url.visitedHistory.length %>
                        <a href="/api/analytics/<%=url.shortCode%>">Detail</a>
                        <% }) %>
            </li>
    </ol>
</body>

</html>