<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="/auth/logout">Logout</a>
    <title>URL Details</title>
</head>

<body>
    <h1>URL Details</h1>
    <p>Short ID: <%= url.shortCode %>
    </p>
    <p>Redirect URL <a href="<%= url.originalUrl %>">
            <%= url.originalUrl %>
        </a></p>
    <ol>
        <% url.visitedHistory.forEach(visit=>{%>

            <li>Visited on ⇾ <%= visit.visitTime.toLocaleString() %> ⇾ And Visited Count is ⇾ <%= visit.visitCount %>
            </li>
            <%}) %>
    </ol>
    <a href="/api">back to Home Page</a>
</body>

</html>